---
import { getCollection } from 'astro:content';

// Fetch all blog posts from the "blog" collection
const posts = await getCollection('blog');
---

<html>
  <head>
    <title>Blog | Teodora's Portfolio</title>
  </head>
  <body>
    <h1>My Blog Posts</h1>
    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
          <p>{post.data.description}</p>
          <small>Published: {post.data.pubDate.toDateString()}</small>
        </li>
      ))}
    </ul>
  </body>
</html>
