---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="grid-cols-1 gap-4">
    <section class="text-left font-mono">
      <h1 class="text-4xl text-berkeley_blue">Welcome to My Portfolio</h1>
      <p class="text-lg text-berkeley_blue">My name is Teo</p>
    </section>
  </div>
</BaseLayout>
