---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-left">
    <h1 class="text-4xl text-fern_green">Welcome to My Portfolio</h1>
    <p class="text-lg text-fern_green">My name is Teo</p>
  </section>
</BaseLayout>
