---
const links = [
  { href: "https://www.linkedin.com/in/your-profile", text: "LinkedIn" },
  { href: "https://www.instagram.com/your-profile", text: "Instagram" },
  { href: "mailto:your.email@example.com", text: "Email" },
];
---

<footer class="bg-berkeley_blue text-white text-xl mt-auto px-10 py-4">
  <div class="container mx-auto flex flex-col items-center md:flex-row md:justify-between">
    <!-- Navigation Links -->
    <ul class="flex flex-col sm:flex-row gap-4">
      {links.map(link => (
        <li><a href={link.href} class="hover:text-yellow">{link.text}</a></li>
      ))}
    </ul>
    
    <!-- Copyright -->
    <p class="text-sm text-gray-300 mt-4 sm:mt-0">© 2025 Teodora. All rights reserved.</p>
  </div>
</footer>
