---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teodora's Portfolio</title>
  </head>
  <body class="bg-parchment text-jet">
    <Navbar />
    <main class="p-8">
      <slot />
    </main>
  </body>
</html>
